<div class="row mt-3">
  <div class="col-sm-6 offset-sm-3">
    <h2><%= @post.title %></h2>
    <div class="mb-3 mt-3">
      <% if @post.image? %>
        <%= image_tag(@post.image.url, class: 'img-fluid') %>
      <% else %>
        <%= image_tag 'default.jpg', class:" img-fluid img-thumbnail", Style: "height: 400px;" %>
      <% end %>  
      <p>このレシピを作った人: <%=@user.name %></p>
    </div>
    
    <h3>材料</h3>
    <p><%= simple_format(h(@post.ingredient)) %></p>
    <h3>作り方</h3>
    <p><%= simple_format(h(@post.content)) %></p><br>
    
    <%= render 'favorites/like_button', post: @post if logged_in? %>
    <%= link_to '一覧に戻る', root_url, class: 'btn btn-secondary btn-sm' %>
    <% if current_user == @post.user %>
      <%= link_to 'このレシピを編集する', edit_post_path, class: 'btn btn-primary btn-sm' %>
      <%= link_to "削除", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
    
     <div id='sosyal'>
       <p>SNSでシェアする</p>
       <%= link_to  "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter mr-1', title: 'Twitter', target: '_blank' do %>
         <i class="fab fa-twitter"></i> Twitter
       <% end %>   
       <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook mr-1', title: 'Facebook', target: '_blank' do %>
         <i class="fab fa-facebook-f"></i> Facebook
       <% end %>
       <%= link_to "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line mr-1', title: 'LINE', target: '_blank' do %>
         <i class="fab fa-line"></i> LINE
       <% end %>   
       <%= link_to "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}&text=タイトル", class: 'slack mr-1', title: 'Slack', target: '_blank' do %>
         <i class="fab fa-slack"></i> Slack
       <% end %>
     </div>
　</div>
</div>